.thumb {
	width: 50px;
	height: 50px;
}

.category{
	width: 100px;
	height: 100px;
}	

#mainFridge{
	margin-left: auto;
	margin-right: auto;
	height: 75%;
}

img.displayView {
		position: relative;
		display: block;
		margin-left: auto;
		margin -
		width: 240px;
		height: auto;
}

img.source-image {
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	align: center;
}
