.thumb {
	width: 50px;
	height: 50px;
}

.category{
	width: 100px;
	height: 100px;
}	

.image_description{
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	height: 10em;
}

#mainFridge{
	margin-left: auto;
	margin-right: auto;
	height: 75%;
}

img.displayView {
		position: relative;
		display: block;
		left:-120;
		width: 240px;
		height: auto;
}

img.source-image {
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	align: center;
}

.dashboard-icon
{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	width:60%;
	padding: 10px;
	border: 1px solid black;
	border-radius:15px;
	background-color: #DADADA;
}

a
{
	text-decoration: none;
}
.ui-grid-a .dashboard-icon .category-name
{
	color: black;
}

.dashboard-icon img
{
	width:50%;
	height:7%;
}

#fullness-bar
{
	font-weight: bold;
}