.thumb {
	width: 50px;
	height: 50px;
}

.category{
	width: 100px;
	height: 100px;
}	

img.displayView {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 240px;
		height: auto;
}
